@page "/Logout"
@model LockoutModel
@{
    ViewData["Title"] = "Đã bị khóa";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Tài khoản này đã bị tạm khóa, vui lòng đăng nhập lại sau 1 phút!</p>
</header>
